.image-view-wrapper {
    -fx-border-color: grey;
    -fx-border-style: solid;
    -fx-border-width: 4;
}




/*.image-border {
    -fx-border-color: black;
    -fx-border-width: 20;
}


#viewOrdersImage {
    -fx-border-color: black;
    -fx-border-width: 10;
}
*/